body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(196, 255, 240);
}

.header {
    color: rgb(0, 0, 0);
    padding: 1em;
}

.main-bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookmark-container {
    min-width: 25rem;
    justify-content: space-between;
    padding: 10px;
}

.actions-container {
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

input {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
}

button[type='submit'] {
    cursor: pointer;
    padding: 1em;
    border-radius: 5px;
    background-color: rgb(113, 65, 225);
    color: white;
    font-weight: bolder;
    border: none;
}

.edit-btn {
    cursor: pointer;
    border-radius: 5px;
    color: rgb(9, 0, 128);
    background-color: inherit;
    border: 2px solid black;
    margin-right: 5px;
}

.delete-btn {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: inherit;
    border: 2px solid red;
    border-radius: 5px;
    margin-left: 5px;
}
